numpy>=1.20.2
scipy>=1.6.0
absl-py>=0.12.0
gym>=0.18.0
gdown>=3.12.2
tqdm>=4.60.0
flax>=0.3.5
jax[cuda12_pip]>=0.2.27
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
ml_collections>=0.1.0
optax==0.1.7
tensorboardX
tensorflow-probability>=0.14.1
imageio>=2.9.0
imageio-ffmpeg>=0.4.3
# mujoco_py
pandas
matplotlib
ujson
cython<3
torch
torchvision
torchaudio
transformers
ftfy
regex
h5py
wandb
tensorflow
tensorflow-probability[tf]
git+https://github.com/openai/CLIP.git
git+https://github.com/khdlr/augmax.git
git+https://github.com/Farama-Foundation/D4RL.git
